
gridster-item {
  background-color: white;
  position: relative;
}

div.button-holder {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

div.widget-content {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
