<div>
  <button
    mat-button
    (click)="addItem()"
  >
    Add an item
  </button>
</div>

<gridster [options]="gridOptions">
  <gridster-item [item]="item" *ngFor="let item of grid">
    <div class="button-holder">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        (mousedown)="removeSideEffects($event)"
        (touchstart)="removeSideEffects($event)"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu>
        <button
          mat-menu-item
          (mousedown)="removeItem($event, item)"
          (touchstart)="removeItem($event, item)"
        >Delete
        </button>
      </mat-menu>
    </div>
    <div class="widget-content">
      <button
        mat-mini-fab
        (mousedown)="addComponent($event)"
        (touchstart)="addComponent($event)"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </gridster-item>
</gridster>

<ng-template #componentDialog>
  <app-generic-stepper [stepperConfig]="stepperConfig"></app-generic-stepper>
</ng-template>

<!-- <ng-template #step1>
  <app-generic-form [formConfiguration]="componentBuilderFormConfig"></app-generic-form>
</ng-template>

<ng-template #step2>
  <app-generic-form [formConfiguration]="componentBuilderFormConfig"></app-generic-form>
</ng-template>

<app-generic-renderer [config]="getConfig()"></app-generic-renderer> -->
