<div class="form-wrapper">
  <form [formGroup]="formConfiguration.formGroup">
    <ng-container *ngFor="let field of formConfiguration.formFields">
      <ng-container [ngSwitch]="field.fieldType">
        <app-generic-input *ngSwitchCase="'input'" [inputConfig]="field"></app-generic-input>
        <app-generic-select *ngSwitchCase="'select'" [selectConfig]="field"></app-generic-select>
        <app-generic-radio *ngSwitchCase="'radio'" [radioConfig]="field"></app-generic-radio>
      </ng-container>
    </ng-container>
    <div class="actions-wrapper">
      <app-generic-button
        *ngFor="let button of formConfiguration.formActions"
        [buttonConfig]="button"
        [disabled]="formConfiguration.formGroup.invalid"
        >
      </app-generic-button>
    </div>
  </form>
</div>
