<div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container *ngFor="let column of newColumns" [matColumnDef]="column.name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.name }}</th>
          <ng-container [ngSwitch]="column.colType">
            <ng-container *ngSwitchCase="'data'">
              <td mat-cell *matCellDef="let item">{{ item[column.name.toLowerCase()] }}</td>
            </ng-container>
            <ng-container *ngSwitchCase="'button'">
              <td mat-cell *matCellDef="let item">
                <app-generic-button [buttonConfig]="config[column.name]" [hostData]="item">

                </app-generic-button>
              </td>
            </ng-container>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="newColumns | getvalue:0"></tr>
        <tr mat-row *matRowDef="let row; columns: newColumns | getvalue:0;"></tr>

        <!-- <tr *matNoDataRow>
            <td [attr.colspan]="columns.length">No data to display</td>
        </tr> -->
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" aria-label="Select how many items to display"></mat-paginator>
</div>
